<form class="form mat-elevation-z8">
    <h1>Criando novo cliente</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="cliente.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. nome sobrenome">
      <mat-error *ngIf="nome.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Cpf</mat-label>
        <input [(ngModel)]="cliente.cpf" [formControl]="cpf" required name="cpf" maxlength="11" matInput placeholder="000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{ errorValidCPF() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="cliente.telefone" [formControl]="telefone" required name="telefone" maxlength="15" matInput placeholder="(00) 90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
      </mat-form-field>

      <button class="mat-elevation-z8" (click)="create()" [disabled]="errorValidName() || errorValidCPF() || errorValidTelefone()" mat-raised-button color="primary">CRIAR</button>
      <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </form>
  